.colors_artemis_2 {
  /* semantic layer */
  --bg: rgb(22, 22, 22);
  --bg-contrast: #00000086;

  --text: #ffffff;
  --text-dim: #e2e2e2;
  --text-negative: #161616;

  --primary: #ffffff;
  --primary-shade: #230cf169;
  --primary-gradient: none;

  --secondary: #3d68c4a4;
  --secondary-shade: #230cf169;
  --secondary-gradient: none;

  --primary-secondary-gradient: none;

  --accent: #72d3ff;
  
  --error: #f06b6b;
  --success: #9ef06b;

  /* button */
  --button-bg: var(--bg-contrast);
  --button-bg-disabled: #313131;
  
  /* surfaces */
  --surface: #00000080;
  --border: #ffffff5d;

  /* message */
  --message-color: #ffffff;
  --message-border-color: #3d68c4a4;
  --message-bg: linear-gradient(135deg, #0d0d0ee5, 75%, #230cf169);

  /* lesson */
  --lesson-timer-color: #ffffff;
  --lesson-timer-bg: #000000cc;

  /* notification */
  --notification-bg: #ff0000;

  /* visual background */
  --bg-image: url("../assets/img/background/moon_craters.jpg");
  --bg-effect: blur(2px);
  --bg-image-size: none;
  --bg-image-position: center;
  --bg-image-attachment: fixed;

  /* planets unique for this theme*/
  --planet_1: url("../assets/img/background/mercury.png");
  --planet_2: url("../assets/img/background/venus.png");
  --planet_3: url("../assets/img/background/earth.png");
  --planet_4: url("../assets/img/background/mars.png");
}
