.colors_moon {
  /* semantic layer */
  --bg: rgb(22, 22, 22);
  --bg-contrast: #0000001e;

  --text: #ffffff;
  --text-dim: #e2e2e2;
  --text-negative: #161616;

  --primary: #ffffff;
  --primary-shade: #dbdbdb;
  --primary-gradient: linear-gradient(to bottom, var(--primary), var(--primary-shade));

  --secondary: #afafaf;
  --secondary-shade: #585858;
  --secondary-gradient: linear-gradient(to bottom, var(--secondary), var(--secondary-shade));

  --primary-secondary-gradient: linear-gradient(to bottom, var(--primary), var(--secondary));

  --accent: #91e5ff;
  
  --error: #f06b6b;
  --success: #9ef06b;

  /* button */
  --button-bg: var(--bg-contrast);
  --button-bg-disabled: #5a5a5a;
  
  /* surfaces */
  --surface: #00000080;
  --border: #747474;

  /* message */
  --message-color: #ffffff;
  --message-border-color: #acacac;
  --message-bg: linear-gradient(135deg, var(--bg-contrast), 75%, #000000);

  /* lesson */
  --lesson-timer-color: #ffffff;
  --lesson-timer-bg: #00000060;

  /* notification */
  --notification-bg: #ff0000;

  /* visual background */
  --bg-image: url("../assets/img/background/moon.jpg");
  --bg-effect: blur(10px);
  --bg-image-size: cover;
  --bg-image-position: center;
  --bg-image-attachment: fixed;
}
