.root {
  position: relative;
  padding-bottom: 4.5rem;
  border-radius: 5px;
  text-wrap: balance;
  text-align: center;
}

.amount {
  padding: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 20px;
  border-radius: 5px;
  backdrop-filter: var(--bg-effect);  
  border: 1px solid var(--border);
  background: var(--bg-contrast);
}

.values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  backdrop-filter: var(--bg-effect);  
  border: 1px solid var(--border);
  background: var(--bg-contrast);
}

.key, .value {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.key {
  font-weight: bold;
  text-align: left;
}

.value {
  text-align: right;
  margin-top: 5px;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 16px;
  backdrop-filter: var(--bg-effect);  
  border: 1px solid var(--border);
  background: var(--bg-contrast);
}